* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: column-reverse;
  min-height: 100vh;
  background-color: #000000da;
}
h2 {
  position: relative;
  color: transparent;
  font-size: 6em;
  -webkit-text-stroke: 2px #72d0fc;
  line-height: 1em;
}
h2 span {
  display: inline-flex;
  filter: drop-shadow(0 0 15px #72d0fc);
  transition: 0.5s ease-in-out;
}
h2 span:nth-child(even) {
  overflow: hidden;
  letter-spacing: -1em;
}
h2:hover ~ h2 span:nth-child(even),
h2:hover span:nth-child(even) {
 letter-spacing: 0; 
 color: #3fbaf3;
  
}
